body {
    background-color: rgb(44, 44, 44);
    color: rgb(243, 243, 243);
    font-family: "Ubuntu", sans-serif
}

p {
    font-size: 24px;
}

a {
    font-size: 10px;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
    font-size: 10px;
    text-align: center;
}

mark.green {
    color:#48a520;
    background: none;
}

#news {
    background-color: rgb(75, 75, 75);
    overflow-x: hidden;
    overflow-y: auto;
    width: 49.5%;
    height: 500px;
    float: left
}

#projects {
    background-color: rgb(75, 75, 75);
    overflow-x: hidden;
    overflow-y: auto;
    width: 49.5%;
    height: 500px;
    float: right
}

#jsklogo {
    max-height: 50px;
    max-width: 59px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

.ribbon {
    --p: 8px;
    background-color: rgb(75, 75, 75);
    height: 75px;
    padding: 0 var(--p);
    width: 100%;
    position: relative;
    right: var(--p);
}
